In [ ]:

#WAP to find even and odd numbers from a list.

even=[]
odd=[]
for i in range(6):
    n = int(input('Enter any number: '))
    if n%2 == 0:
        even.append(n)
    else:
        odd.append(n)

d = {}
d['Even']=even
d['Odd']=odd
print(d)

Enter any number: 3
Enter any number: 45
Enter any number: 67
Enter any number: 89
Enter any number: 64
Enter any number: 27
{'Even': [64], 'Odd': [3, 45, 67, 89, 27]}

In [ ]:
# Nested Function

In [ ]:
def f1():
   s='Python is case sensitive'
   def f2():
     print(s)
   f2()

f1()

Python is case sensitive

In [ ]:
#Recursive Function(Recursion)
#It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

In [ ]:
# Factorial Number Recursive Function

def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
fact(4)

24

In [ ]:
# Fibonacci Number using recursion

def fibonacci(n):
  if n < 0:
    raise ValueError("Input 0 or greater only!")
  fiblist = [0, 1]
  for i in range(2,n+1):
    fiblist.append(fiblist[i-1] + fiblist[i-2])
  return fiblist[n]

fibonacci(10)

55

In [ ]:
#A function is a block of code which only runs when it is called.
#Functions help in organizing code,reusing code and improving readability.
#You can pass data, known as parameters, into a function.
#A function can return data as a result.

In [ ]:
# a function is defined using the def keyword:
def my_function():

      print("Hello from a function")

In [ ]:
#calling Function
my_function()

Hello from a function

In [ ]:
#Arguments
#Information can be passed into functions as arguments.
#Arguments are specified after the function name, inside the parentheses.
def my_function(fname):
  print(fname + " Trump")

my_function("Donald")
my_function("ÄBC")

Donald Trump
ÄBC Trump

In [ ]:
my_function("Melliania")

Melliania Trump

In [ ]:
#Parameters or Arguments
# A parameter is the variable listed inside the parentheses in the function definition.

# An argument is the value that is sent to the function when it is called.

In [ ]:
#Syntax with return statement:
def function_name(parameters):
    #Function body
   return expression

In [ ]:
def even_odd(num):
     if num%2==0:
      print("the number is even")
     else:
       print("the number is odd")

In [ ]:
#call this function
even_odd(24)

the number is even

In [ ]:
# Function with multiple parameters
def add(a,b):
    return a+b

add(2,3)

5

In [ ]:
add(4,5)

9

In [ ]:
# Function can return multiple values
def add(a,b):
    return a+b,a

add(2,4)

(6, 2)

In [ ]:
# Write a function to swap two numbers without using third variable.
def swap(a,b):
    a,b=b,a
    print(a)
    print(b)

In [ ]:
swap(2,4)

4
2

In [ ]:
# Write a function to swap two numbers using third variable.
def swap(a,b):
   temp=a
   a=b
   b=temp
   print(a)
   print(b)

In [ ]:
swap(3,4)

4
3