In [1]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [2]:
#read from note book
#theory till allow duplicate

In [3]:
#Tuple allow duplicate value
Tuple = ("apple","mango","kiwi","cherry","orange","apple")
print(Tuple)

('apple', 'mango', 'kiwi', 'cherry', 'orange', 'apple')

In [5]:
#Tuple length
#To determine how many items a tuple has,use the len().function:
Tuple = ("Satyam","Sumit","Sarthak","Shivam")
print(len(Tuple))

Tuple = ("Satyam","Shivam",)
print(len(Tuple))

4
2

In [6]:
#one item tuple remember the comma
Tuple = ("apple","kiwi")
print(type(Tuple))

Tuple = ("apple","kiwi")
print (type(Tuple))

<class 'tuple'>
<class 'tuple'>

In [7]:
Tuple = ("apple")
print(type(Tuple))

<class 'str'>

In [8]:
#Tuple item data types
#Tuple item can be of any data type

#Example
#string, int and boolen data types:
tuple1 = ("satyam","cherry","kiwi")
tuple2 = (1,2,3,4,5,6)
tuple3 = (True,False)
print(tuple1)
print(tuple2)
print(tuple3)

('satyam', 'cherry', 'kiwi')
(1, 2, 3, 4, 5, 6)
(True, False)

In [9]:
#A tuple can contain different data types:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc",34,True,50,"male")
print(tuple1)

('abc', 34, True, 50, 'male')

In [10]:
#type()
#what is the data type of a tuple?

tuple1 = ("apple","banana","cherry")
print(type(tuple1))

<class 'tuple'>

In [12]:
#Access Tuple items
Thistuple = ("apple","banana","kiwi")
print(Thistuple[1])

Tuple = ("shivam","Aniket","saksham")
print(Tuple[0])

banana
shivam

In [13]:
#Note: The first item has index 0.

In [14]:
#Negative Indexing
#Print the last item of the tuple:

Thistuple = ("apple","kiwi","orange","banana")
print(Thistuple[-1])

banana

In [15]:
#Range of Indexes
#Example
#Return the third, fourth, and fifth item:

Thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(Thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [16]:
#Note: The search will start at index 2 (included) and end at index 5 (not included).

In [17]:
#Example
#This example return the items from the beginning to, but NOT included, "kiwi";

Thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(Thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [20]:
#Example
#This example returns the items from "cherry" and to the end:

Thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(Thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [3]:
#Range of Negative Indexes
#Specify negative indexes if you want to start the search from the end of the tuple:

#This example returns the items from index -4 (included) to index -1(excluded)
Thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(Thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [4]:
#Check if Item Exists
#Check if "apple" is present in the tuple:
Thistuple = ("apple","banana","cherry")
if "apple" in Thistuple:
  print("Yes, apple")

Tuple = ("Satyam","Aniket","Sumit")
if "sarthak" in Tuple:
  print("Yes")

Yes, apple

In [2]:
Thistuple = ("apple","banana","cherry")
y = ("orange",)
Thistuple += y

print(Thistuple)

('apple', 'banana', 'cherry', 'orange')

In [3]:
#Remove items
#Example
#Convert the tuple into a list, remove "apple",and convert it back into a tuple:

Thistuple = ("apple","banana","cherry")
y1 = list(Thistuple)
y1.remove("apple")
Thistuple = tuple(y1)
print(Thistuple)

('banana', 'cherry')

In [4]:
#Example
#The del keyword can delete the tuple completely:

#del Thistuple

In [6]:
#What is packing ?
#unpacking a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

#Packing a tuple:

#fruits = ("apple","banana","cherry")

#But, in Python, we are also allowed to extract the values back into variables.This is called "unpacking":

In [7]:
#Example
#Unpacking a tuple:

fruits = ("apple","banana","cherry")

(green,yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [1]:
fruits = ("apple","banana","cherry","strawberry","respberry")

(green, yellow, * red) = fruits

In [2]:
fruits = ("apple", "mango", "papaya", "pineapple", "Kiwi", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple', 'Kiwi']
cherry

In [3]:
#Python - Loop Tuples
#Loop Through a Tuple
#You can loop through the tuple items by using a for loop.
#Iterate through the items and print the values:

Thistuple = ("apple", "banana", "cherry")
for x in Thistuple:
  print(x)

  Tuple = ("apple")
  for x in Tuple:
    print(x)

apple
a
p
p
l
e
banana
a
p
p
l
e
cherry
a
p
p
l
e

In [6]:
#Loop Through the Index Numbers
#You can also loop through the tuple items by referring to their index number.

#Use the range() and len() functions to create a suitable iterable.
#Print all items by referring to their index number:

Thistuple = ("apple", "banana", "cherry")
for u in range(len(Thistuple)):
  print(Thistuple[u])

apple
banana
cherry

In [7]:
#Using a while loop
#You can loop through the tuple item by using a while loop.
#Remember to increase the index by 1 after each iteration.

#Print all items, using a while loop to go through all the index numbers:

Thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(Thistuple):
  print(Thistuple[i])
  i = i + 1

apple
banana
cherry

In [9]:
#- Joins Tuples
#Join Two Tuples
#To join two or more tuples you can use the + operator:

In [13]:
#Join Two Tuples:

tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 = tuple2
print(tuple3)

Tuple = ("l", "s", "d")
Tuple1 = ("sum","sd",1)
Tuple2 = Tuple + Tuple1
print(Tuple2)

(1, 2, 3)
('l', 's', 'd', 'sum', 'sd', 1)

In [15]:
#Multiply Tuples
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:

#Example
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')